<div class="wrapper">

  <div class="logo"></div>
  <div class="cancel-button" *ngIf="peopleAmountAccepted && listIsReady && peoplesRemaining !== undefined && !jinglePlaying">
    <button class="secondary" (click)="reset()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </button>
  </div>
  <div class="main-title">Tiara Przydziału</div>

  <div class="input-wrapper" *ngIf="!peopleAmountAccepted">
    <label for="people-amount">Ilość osób:</label>
    <input id="people-amount" type="number" [(ngModel)]="peopleAmount" (keyup.enter)="acceptPeopleAmount()" min="0" max="100">
    <button class="primary" (click)="acceptPeopleAmount()">Zatwierdź</button>
  </div>

  <div class="selector-wrapper" *ngIf="peopleAmountAccepted">

    <div class="houses-indicator">
      <div class="house">
        <div class="title">Gryffindor</div>
        <div class="amout">{{housesIndicator.gryffindor}}</div>
      </div>
  
      <div class="house">
        <div class="title">Hufflepuff</div>
        <div class="amout">{{housesIndicator.hufflepuff}}</div>
      </div>
  
      <div class="house">
        <div class="title">Ravenclaw</div>
        <div class="amout">{{housesIndicator.ravenclaw}}</div>
      </div>
  
      <div class="house">
        <div class="title">Slytherin</div>
        <div class="amout">{{housesIndicator.slytherin}}</div>
      </div>
    </div>

    <div class="play-button" *ngIf="jinglePlaying">
      <div class="draw-result">
        <span>Wybrano:</span>
        <br>
        <strong>{{message}}</strong>
        <div class="next-button">
          <button (click)="skipHouseAudio()">Dalej</button>
        </div>
      </div>
    </div>

    <div class="play-button" *ngIf="listIsReady && peoplesRemaining !== undefined && !jinglePlaying">
      <div class="remaining-counter">
        <span>Pozostało:</span>
        <span><strong>{{peoplesRemaining}}</strong></span>
      </div>
      <div class="button-wrapper" *ngIf="peoplesRemaining !== 0">
        <button class="primary" (click)="draw()">Wylosuj</button>
      </div>
      <div class="button-wrapper" *ngIf="peoplesRemaining === 0">
        <button class="primary" (click)="reset()">Zakończ</button>
      </div>
    </div>

  </div>

  <div class="settings">
    <button (click)="toggleMuteSoundtrack()">
      <svg *ngIf="!soundtrackIsMuted" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-mute-fill" viewBox="0 0 16 16">
        <path d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zm7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"/>
      </svg>
      <svg *ngIf="soundtrackIsMuted" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-down-fill" viewBox="0 0 16 16">
        <path d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"/>
      </svg>
    </button>
  </div>



</div>