$focus: #ecbe76;
$white: #fff;
$black: #000;
$blueViolet: #6B63B5;
$darkSlateBlue: #514A92;
$darkSlateBlue2: #433C87;
$spaceCadet: #2F2F4D;
$yankeesBlue: #272841;
$darkSilver: #696B78;
$vodka: #C2BBFF;
$focus: #ecbe76;
$font-white: #faf6f0;